.one-book__tabs {
    margin-top: 40px;
}
.btn {
    padding: 10px 20px;
    background: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s, color .3s;
    color: lightslategray;
}
.tab-content {
    padding: 20px 0;
}
.social-btns {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}
.social-btns-item {
    transition: color .3s ease;
}
.social-btns-item:hover {
    color: #5d5d5d;
}

.tab-details {
   line-height: 30px;
}