.user-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

}
.user-avatar img {
    width: 360px;
    height: auto;
}
.user-name {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}