.App {
    min-height: 70vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}