.slider {
    padding: 40px 0;
}
.slider-container {
    display: flex;
    width: 100%;
    height: auto;
    overflow: scroll;
}

.swiper-button-next, .swiper-button-prev {
    z-index: 100;
    top: 15px;
}
.swiper-button-prev {
    right: 50px;
    left: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
    background-image: url('../../assets/undo-svgrepo-com.svg');
    width: 24px;
    height: 24px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-next:after {
    content: '';
    background-image: url('../../assets/next-icon.svg');
    width: 24px;
    height: 24px;
}


.slider-title {
    margin-top: 40px;
}
